body {
	background: #eee 	
}

.wrapper {	
  margin-top: 80px;
  margin-bottom: 80px;
}
.headmiddle {
	text-align: center;
}
h2 {
	font-size: 32px;
}

 .form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

}
.distance {
	width: 50px;
	height:50px;
} 
.edgeBlank {
	margin-left: 15px;
	margin-right:15px;
}
.blank {
	text-index: -5px;
	font-size: 24px;
	width: 100%;
	height: 40px;
	margin: 0 auto; 
}
.btn {
	background-color: blue; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 390px;
    font-size: 20px;
    
    border: 2px solid white;
    padding: 10px;
    border-radius: 25px;
}
